.App {
  text-align: center;
}

#root {
  max-width: 65vw;
  margin: 4rem auto 0;
}


#main {
  display: grid;
  justify-self: center;
  align-self: center;
  text-align: center;
}

img {
  width: 100%;
}